---
http_interactions:
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/thesaurus/json/affect?key=<COLLEGIATE_THESAURUS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"affect:1","uuid":"a7c65c54-3bb4-4afd-8db3-3e0e6586eade","src":"coll_thes","section":"alpha","target":{"tuuid":"bf6a5469-7543-4c5b-89c0-94b57680236b","tsrc":"collegiate"},"stems":["affect","affectabilities","affectability","affectable","affected","affecting","affects"],"syns":[["impact","impress","influence","move","reach","strike","sway","tell
        (on)","touch"],["concern","involve","touch"]],"ants":[],"offensive":false},"hom":1,"hwi":{"hw":"affect"},"fl":"verb","def":[{"sseq":[[["sense",{"sn":"1","dt":[["text","to
        act upon (a person or a person\u0027s feelings) so as to cause a response
        "],["vis",[{"t":"their son claims that scary movies don\u0027t {it}affect{\/it}
        him in the least"}]]],"syn_list":[[{"wd":"impact"},{"wd":"impress"},{"wd":"influence"},{"wd":"move"},{"wd":"reach"},{"wd":"strike"},{"wd":"sway"},{"wd":"tell
        (on)"},{"wd":"touch"}]],"rel_list":[[{"wd":"carry away"},{"wd":"dazzle"},{"wd":"enrapture"},{"wd":"entrance"},{"wd":"enthrall","wvrs":[{"wvl":"or","wva":"enthral"}]},{"wd":"ravish"},{"wd":"transport"}],[{"wd":"bias"},{"wd":"color"}],[{"wd":"inspire"},{"wd":"stir"}],[{"wd":"engage"},{"wd":"interest"},{"wd":"involve"},{"wd":"penetrate"},{"wd":"pierce"}],[{"wd":"afflict"},{"wd":"agitate"},{"wd":"bother"},{"wd":"concern"},{"wd":"discomfort"},{"wd":"discompose"},{"wd":"disquiet"},{"wd":"distress"},{"wd":"disturb"},{"wd":"fluster"},{"wd":"harass"},{"wd":"harry"},{"wd":"perturb"},{"wd":"pester"},{"wd":"plague"},{"wd":"smite"},{"wd":"strain"},{"wd":"stress"},{"wd":"trouble"},{"wd":"try"},{"wd":"upset"},{"wd":"worry"},{"wd":"wring"}],[{"wd":"allure"},{"wd":"attract"},{"wd":"bewitch"},{"wd":"captivate"},{"wd":"charm"},{"wd":"enchant"},{"wd":"fascinate"}]],"phrase_list":[[{"wd":"get
        to"}]],"near_list":[[{"wd":"bore"},{"wd":"jade"},{"wd":"pall"},{"wd":"tire"},{"wd":"weary"}],[{"wd":"underwhelm"}]]}]],[["sense",{"sn":"2","dt":[["text","to
        be the business or affair of "],["vis",[{"t":"fortunately, hurricane season
        doesn\u0027t {it}affect{\/it} the West Coast"}]]],"syn_list":[[{"wd":"concern"},{"wd":"involve"},{"wd":"touch"}]],"rel_list":[[{"wd":"appertain
        (to)"},{"wd":"apply (to)"},{"wd":"bear (on)"},{"wd":"pertain (to)"},{"wd":"refer
        (to)"},{"wd":"relate (to)"}],[{"wd":"embroil"},{"wd":"ensnare"},{"wd":"entangle"},{"wd":"implicate"}]]}]]]}],"shortdef":["to
        act upon (a person or a person\u0027s feelings) so as to cause a response","to
        be the business or affair of"]},{"meta":{"id":"affect:2","uuid":"5989338e-2f0c-4c28-947f-f15f2c018ca9","src":"coll_thes","section":"alpha","target":{"tuuid":"dcac4414-b7b1-45ea-a830-fda82bd8b750","tsrc":"collegiate"},"stems":["affect","affectabilities","affectability","affectable","affected","affecting","affects"],"syns":[["act","assume","bluff","counterfeit","dissemble","fake","feign","pass
     [...]
