---
http_interactions:
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/collegiate/json/affect?key=<COLLEGIATE_DICTIONARY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"affect:1","uuid":"e493a2b7-ba1f-469a-bb27-5d464108b09f","sort":"011193000","src":"collegiate","section":"alpha","stems":["affect","affectabilities","affectability","affectable","affected","affecting","affects"],"offensive":false},"hom":1,"hwi":{"hw":"af*fect","prs":[{"mw":"\u0259-\u02c8fekt","sound":{"audio":"affect02","ref":"c","stat":"1"}},{"mw":"a-"}]},"fl":"verb","ins":[{"if":"af*fect*ed"},{"if":"af*fect*ing"},{"if":"af*fects"}],"def":[{"vd":"transitive
        verb","sseq":[[["bs",{"sense":{"dt":[["text","{bc}to produce an effect upon
        (someone or something):"]]}}],["sense",{"sn":"a","dt":[["text","{bc}to act
        on and cause a change in (someone or something) "],["vis",[{"t":"Rainfall
        {wi}affects{\/wi} plant growth."},{"t":"areas to be {wi}affected{\/wi} by
        highway construction"},{"t":"The protein plays a central role in metabolism
        \u2026 which in turn {wi}affects{\/wi} the rate of aging.","aq":{"auth":"Stephen
        S. Hall"}},{"t":"The 1883 eruption of Krakatau in what is now Indonesia {wi}affected{\/wi}
        global sunsets for years \u2026","aq":{"auth":"Evelyn Browning Garriss"}},{"t":"Before
        the 1980s it was not at all clear how nicotine {wi}affected{\/wi} the brain.","aq":{"auth":"Cynthia
        Kuhn et al."}}]]]}],["sense",{"sn":"b","dt":[["text","{bc}to cause illness,
        symptoms, etc., in (someone or something) "],["vis",[{"t":"a disease that
        {wi}affects{\/wi} millions of patients each year"},{"t":"\u2026 the syndrome
        can {wi}affect{\/wi} the pancreas, which produces insulin \u2026","aq":{"auth":"H.
        Lee Kagan"}}]]]}],["sense",{"sn":"c","dt":[["text","{bc}to produce an emotional
        response in (someone) "],["vis",[{"t":"an experience that {wi}affected{\/wi}
        him powerfully"},{"t":"\u2026 she traveled to Cuba and was deeply {wi}affected{\/wi}
        by what she saw.","aq":{"auth":"Elsa Dixler"}}]]]}],["sense",{"sn":"d","dt":[["text","{bc}to
        influence (someone or something) "],["vis",[{"t":"trying not to let emotions
        {wi}affect{\/wi} their decision"}]]]}]]]}],"uros":[{"ure":"af*fect*abil*i*ty","prs":[{"mw":"\u0259-\u02ccfek-t\u0259-\u02c8bi-l\u0259-t\u0113","sound":{"audio":"affect03","ref":"c","stat":"1"}},{"mw":"a-"}],"fl":"noun"},{"ure":"af*fect*able","prs":[{"mw":"\u0259-\u02c8fek-t\u0259-b\u0259l","sound":{"audio":"affect04","ref":"c","stat":"1"}},{"mw":"a-"}],"fl":"adjective"}],"syns":[{"pl":"synonyms","pt":[["text","{sc}affect{\/sc}
        {sc}influence{\/sc} {sc}touch{\/sc} {sc}impress{\/sc} {sc}strike{\/sc} {sc}sway{\/sc}
        mean to produce or have an effect upon. {sc}affect{\/sc} implies the action
        of a stimulus that can produce a response or reaction. "],["vis",[{"t":"the
        sight {it}affected{\/it} her to tears"}]],["text"," {sc}influence{\/sc} implies
        a force that brings about a change (as in nature or behavior). "],["vis",[{"t":"our
        beliefs are {it}influenced{\/it} by our upbringing"}]],["text"," {sc}touch{\/sc}
        may carry a vivid suggestion of close contact and may connote stirring, arousing,
        or harming. "],["vis",[{"t":"plants {it}touched{\/it} by frost"},{"t":"his
        emotions were {it}touched{\/it} by her distress"}]],["text"," {sc}impress{\/sc}
        stresses the depth and persistence of the effect. "],["vis",[{"t":"only one
        of the plans {it}impressed{\/it} him"}]],["text"," {sc}strike{\/sc}, similar
        to but weaker than {it}impress{\/it}, may convey the notion of sudden sharp
        perception or appreciation. "],["vis",[{"t":"{it}struck{\/it} by the solemnity
        of the occasion"}]],["text"," {sc}sway{\/sc} implies the acting of influences
        that are not resisted or are irresistible, with resulting change in character
        or course of action. "],["vis",[{"t":"politicians who are {it}swayed{\/it}
        by popular opinion"}]]]}],"quotes":[{"t":"These programs, known as secret
        warranties or silent recalls, often involve a problem that {qword}affects{\/qword}
        a vehicle\u0027s safety or performance but that isn\u0027t the cause of a
        formal Federal recall.","aq":{"source":"{it}Consumer Reports{\/it}","aqdate":"December
        1993"}},{"t":"The Paris adventures of various Russians, including a romance
        for Dontsov, {qword}affect{\/qword} both the newly democratized ones and hard-line
        party members.","aq":{"auth":"Stanley Kauffmann","source":"{it}New Republic{\/it}","aqdate":"27
        Feb. 1995"}},{"t":"As strange as this sounds, the negative karma probably
        {qword}affected{\/qword} the actual games, the way a gambler who constantly
        dwells on his bad luck can derail an entire blackjack table.","aq":{"auth":"Bill
        Simmons","source":"{it}ESPN{\/it}","aqdate":"24 June 2002"}}],"et":[["text","Middle
        English {it}affecten,{\/it} borrowed from Latin {it}affectus,{\/it} past participle
        of {it}afficere{\/it} \u0022to produce an effect on, exert an influence on,\u0022
        from {it}ad-{\/it} {et_link|ad-|ad-} + {it}facere{\/it} \u0022to do, make,
        bring about\u0022 {ma}{mat|fact|}{\/ma}"]],"date":"15th century","shortdef":["to
        produce an effect upon (someone or something):","to act on and cause a change
        in (someone or something)","to cause illness, symptoms, etc., in (someone
        or something)"]},{"meta":{"id":"affect:2","uuid":"bf6a5469-7543-4c5b-89c0-94b57680236b","sort":"011193500","src":"collegiate","section":"alpha","stems":["affect","affected","affecting","affects"],"offensive":false},"hom":2,"hwi":{"hw":"af*fect","prs":[{"mw":"\u0259-\u02c8fekt","sound":{"audio":"affect02","ref":"c","st[...]
