---
http_interactions:
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/thesaurus/json/beach?key=<COLLEGIATE_THESAURUS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"beach","uuid":"3d47a7df-27cb-48ef-9519-d378270d0900","src":"coll_thes","section":"alpha","target":{"tuuid":"c60241f6-5c5c-4b82-8ab3-d3b16a18cd5d","tsrc":"collegiate"},"stems":["beach","beaches"],"syns":[["beachfront","sand(s)","strand"]],"ants":[],"offensive":false},"hwi":{"hw":"beach"},"fl":"noun","def":[{"sseq":[[["sense",{"dt":[["text","the
        usually sandy or gravelly land bordering a body of water "],["vis",[{"t":"she
        loves walking along the {it}beach{\/it}, looking for shells that the waves
        cast up"}]]],"syn_list":[[{"wd":"beachfront"},{"wd":"sand(s)"},{"wd":"strand"}]],"rel_list":[[{"wd":"seaboard"},{"wd":"seacoast"},{"wd":"seashore"},{"wd":"seaside"}],[{"wd":"coast"},{"wd":"coastland"},{"wd":"coastline"},{"wd":"shore"},{"wd":"shoreline"}],[{"wd":"oceanfront"},{"wd":"shorefront"},{"wd":"waterfront"}],[{"wd":"bank"},{"wd":"riverbank"},{"wd":"riverfront"},{"wd":"riverside"}],[{"wd":"esplanade"}],[{"wd":"littoral"}],[{"wd":"lido"},{"wd":"plage"}]]}]]]}],"shortdef":["the
        usually sandy or gravelly land bordering a body of water"]},{"meta":{"id":"beach","uuid":"0446fe49-c252-4e97-a014-c9f9eedf2d22","src":"CTcompile","section":"alpha","stems":["beach"],"syns":[["ground","berth","moor","tie
        up","harbor","anchor","dock","land","arrive","reach","show up","turn up","debark","disembark"],["shipwreck","strand","wreck","scuttle","founder"]],"ants":[["embark","launch","sail"],["recover","salvage"]],"offensive":false},"hwi":{"hw":"beach"},"fl":"verb","def":[{"sseq":[[["sense",{"sn":"1","dt":[["text","as
        in {it}ground{\/it}"]],"sim_list":[[{"wd":"ground"}],[{"wd":"berth"},{"wd":"moor"},{"wd":"tie
        up"}],[{"wd":"harbor"}],[{"wd":"anchor"},{"wd":"dock"},{"wd":"land"}],[{"wd":"arrive"},{"wd":"reach"},{"wd":"show
        up"},{"wd":"turn up"}],[{"wd":"debark"},{"wd":"disembark"}]],"opp_list":[[{"wd":"embark"},{"wd":"launch"},{"wd":"sail"}]]}]],[["sense",{"sn":"2","dt":[["text","as
        in {it}wreck{\/it}, {it}strand{\/it}"]],"sim_list":[[{"wd":"shipwreck"},{"wd":"strand"},{"wd":"wreck"}],[{"wd":"scuttle"}],[{"wd":"founder"}]],"opp_list":[[{"wd":"recover"},{"wd":"salvage"}]]}]]]}],"shortdef":["as
        in ground","as in wreck, strand"]}]'
  recorded_at: Tue, 21 Jun 2022 23:24:58 GMT
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/collegiate/json/beach?key=<COLLEGIATE_DICTIONARY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"beach:1","uuid":"c60241f6-5c5c-4b82-8ab3-d3b16a18cd5d","sort":"020110000","src":"collegiate","section":"alpha","stems":["beach","beaches"],"offensive":false},"hom":1,"hwi":{"hw":"beach","prs":[{"mw":"\u02c8b\u0113ch","sound":{"audio":"beach001","ref":"c","stat":"1"}}]},"fl":"noun","def":[{"sseq":[[["sense",{"sn":"1","dt":[["text","{bc}shore
        pebbles {bc}{sx|shingle||}"]]}]],[["sense",{"sn":"2 a","dt":[["text","{bc}a
        shore of a body of water covered by sand, gravel, or larger rock fragments"]]}],["sense",{"sn":"b","dt":[["text","{bc}a
        seashore area"]]}]]]}],"et":[["text","origin unknown"]],"date":"circa 1535{ds||1||}","shortdef":["shore
        pebbles : shingle","a shore of a body of water covered by sand, gravel, or
        larger rock fragments","a seashore area"]},{"meta":{"id":"beach:2","uuid":"3a66b67e-5056-41da-aeaf-959ccc22df94","sort":"020110100","src":"collegiate","section":"alpha","stems":["beach","beached","beaches","beaching"],"offensive":false},"hom":2,"hwi":{"hw":"beach"},"fl":"verb","ins":[{"if":"beached"},{"if":"beach*ing"},{"if":"beach*es"}],"def":[{"vd":"transitive
        verb","sseq":[[["sense",{"sn":"1","dt":[["text","{bc}to run or drive ashore
        "],["vis",[{"t":"{wi}beaching{\/wi} the landing craft in the assault"},{"t":"The
        storm damaged and {wi}beached{\/wi} half the fleet."}]]]}]],[["sense",{"sn":"2","dt":[["text","{bc}to
        strand on or as if on a beach "],["vis",[{"t":"a {wi}beached{\/wi} shark"}]]]}]]]}],"et":[["text","verbal
        derivative of {et_link|beach:1|beach:1}"]],"date":"1799{ds||1||}","shortdef":["to
 [...]
