---
http_interactions:
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/thesaurus/json/salmon?key=<COLLEGIATE_THESAURUS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '["salon","saloon","saloons","daemon","daimon","gammon","sallow","salons","salvo","salvor","salvos","sermon","summon","psalmody","salesman","salesmen","almoner","calming","salamis","salient"]'
  recorded_at: Tue, 21 Jun 2022 23:24:57 GMT
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/collegiate/json/salmon?key=<COLLEGIATE_DICTIONARY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"salmon","uuid":"cb7ebb03-74af-4bd2-8191-5d88cee9dcbf","sort":"190315000","src":"collegiate","section":"alpha","stems":["Atlantic
        salmon","salmon","salmons"],"offensive":false},"hwi":{"hw":"salm*on","prs":[{"mw":"\u02c8sa-m\u0259n","sound":{"audio":"salmon01","ref":"c","stat":"1"}}]},"fl":"noun","ins":[{"il":"plural","if":"salmon"},{"il":"also","if":"salm*ons"}],"def":[{"sseq":[[["sense",{"sn":"1
        a","dt":[["text","{bc}a large anadromous {a_link|salmonid} fish ({it}Salmo
        salar{\/it}) of the North Atlantic noted as a game and food fish "],["ca",{"intro":"called
        also","cats":[{"cat":"Atlantic salmon"}]}]]}],["sense",{"sn":"b","dt":[["text","{bc}any
        of various anadromous salmonid fishes other than the salmon"]],"sdsense":{"sd":"especially","dt":[["text","{bc}{sx|pacific
        salmon||}"]]}}],["sense",{"sn":"c","dt":[["text","{bc}a fish (such as a barramundi)
        resembling a salmon"]]}]],[["sense",{"sn":"2","dt":[["text","{bc}the variable
        color of salmon\u0027s flesh averaging a strong yellowish pink"]]}]]]}],"et":[["text","Middle
        English {it}samon{\/it}, from Anglo-French {it}salmon, samon{\/it}, from Latin
        {it}salmon-, salmo{\/it}"]],"date":"13th century{ds||1|a|}","shortdef":["a
        large anadromous salmonid fish (Salmo salar) of the North Atlantic noted as
        a game and food fish \u2014called also Atlantic salmon","any of various anadromous
        salmonid fishes other than the salmon; especially : pacific salmon","a fish
        (such as a barramundi) resembling a salmon"]},{"meta":{"id":"Salmon:g","uuid":"a5f856eb-b391-47c0-a661-6436e1d1581a","sort":"282519000","src":"collegiate","section":"geog","stems":["Salmon"],"offensive":false},"hwi":{"hw":"Salm*o[...]
