---
http_interactions:
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/thesaurus/json/internet?key=<COLLEGIATE_THESAURUS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '["interne","interned","internee","internes","internees","internment","internist","intercept","internists","interject","interment","interest","interpret","intern","intersect","internal","intermit","interns","interred","internments"]'
  recorded_at: Tue, 21 Jun 2022 23:24:54 GMT
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/collegiate/json/internet?key=<COLLEGIATE_DICTIONARY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"Internet","uuid":"1ef3d798-1b5c-4ddd-a96b-324a6922c128","sort":"092336000","src":"collegiate","section":"alpha","stems":["Internet","Internets","internet","internets"],"offensive":false},"hwi":{"hw":"In*ter*net","prs":[{"mw":"\u02c8in-t\u0259r-\u02ccnet","sound":{"audio":"inter01s","ref":"c","stat":"1"}}]},"vrs":[{"vl":"or","va":"in*ter*net"}],"fl":"noun","def":[{"sseq":[[["sense",{"dt":[["text","{bc}an
        electronic communications network that connects computer networks and organizational
        computer facilities around the world "],["uns",[[["text","used with {it}the{\/it}
        except when being used attributively "],["vis",[{"t":"doing research on the
        {wi}Internet{\/wi}"},{"t":"an {wi}Internet{\/wi} search"}]]]]],["snote",[["t","In
        U.S. publications, the capitalized form {it}Internet{\/it} continues to be
        more common than {it}internet{\/it}, although the lowercase form is rapidly
        gaining more widespread use. In British publications, {it}internet{\/it} is
        now the more common form."]]],["text"," {dx}compare {dxt|world wide web||}{\/dx}"]]}]]]}],"date":"1986","shortdef":["an
        electronic communications network that connects computer networks and organizational
        computer facilities around the world \u2014used with the except when being
        used attributively"]},{"meta":{"id":"Internet of Things","uuid":"9d6eedd3-dc06-45a4-b814-bc639582d452","sort":"092337000","src":"collegiate","section":"alpha","stems":["Internet
        of Things"],"offensive":false},"hwi":{"hw":"Internet of Things"},"fl":"noun
        phrase","def":[{"sseq":[[["sense",{"dt":[["text","{bc}the networking capability
        that allows information to be sent to and received from objects and devices
        (such as fixtures and kitchen appliances) using the Internet "],["vis",[{"t":"The
        {wi}Internet of Things{\/wi} really comes together with the connection of
        sensors and machines. That is to say, the real value that the {wi}Internet
        of Things{\/wi} creates is at the intersection of gathering data and leveraging
        it. All the information gathered by all the sensors in the world isn\u0027t
        worth very much if there isn\u0027t an infrastructure in place to analyze
        it in real time.","aq":{"auth":"Daniel Burrus"}},{"t":"Extend the \u2026 example
        to the {wi}Internet of Things{\/wi}, where any interaction with a connected
        object has the potential of teaching something new to every connected object,
        and the immense scaling of networked machine learning becomes almost unimaginable.","aq":{"auth":"Scott
        Santens"}},{"t":"As many as 50 billion devices will be online by the end of
        the decade. Along with smart thermostats and appliances, this so-called {wi}[...]
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/thesaurus/json/reversible?key=<COLLEGIATE_THESAURUS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"reversible","uuid":"04370808-6827-440e-ba18-b3c123d22901","src":"CTcompile","section":"alpha","stems":["reversible"],"syns":[["undoable","amendable","emendable","improvable","resolvable","reconstructible","reformable","regenerable","correctable","corrigible","fixable","redeemable","remediable","repairable","reparable","corrected","fixed","remedied","repaired"]],"ants":[["incorrigible","irrecoverable","irredeemable","irremediable","irreparable","unredeemable","irretrievable","unrecoverable","irreplaceable","irreversible","irrevocable"]],"offensive":false},"hwi":{"hw":"reversible"},"fl":"adjective","def":[{"sseq":[[["sense",{"dt":[["text","as
        in {it}undoable{\/it}"]],"sim_list":[[{"wd":"undoable"}],[{"wd":"amendable"},{"wd":"emendable"},{"wd":"improvable"},{"wd":"resolvable"}],[{"wd":"reconstructible"},{"wd":"reformable"},{"wd":"regenerable"}],[{"wd":"correctable"},{"wd":"corrigible"},{"wd":"fixable"},{"wd":"redeemable"},{"wd":"remediable"},{"wd":"repairable"},{"wd":"reparable"}],[{"wd":"corrected"},{"wd":"fixed"},{"wd":"remedied"},{"wd":"repaired"}]],"opp_list":[[{"wd":"incorrigible"},{"wd":"irrecoverable"},{"wd":"irredeemable"},{"wd":"irremediable"},{"wd":"irreparable"},{"wd":"unredeemable"}],[{"wd":"irretrievable"},{"wd":"unrecoverable"}],[{"wd":"irreplaceable"},{"wd":"irreversible"},{"wd":"irrevocable"}]]}]]]}],"shortdef":["as
        in undoable"]}]'
  recorded_at: Tue, 21 Jun 2022 23:24:55 GMT
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/collegiate/json/reversible?key=<COLLEGIATE_DICTIONARY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"reversible:1","uuid":"66a50d66-8c5f-4f10-b0bd-c53455d5f19c","sort":"182884000","src":"collegiate","section":"alpha","stems":["reversibilities","reversibility","reversible","reversibly"],"offensive":false},"hom":1,"hwi":{"hw":"re*vers*ible","prs":[{"mw":"ri-\u02c8v\u0259r-s\u0259-b\u0259l","sound":{"audio":"revers05","ref":"c","stat":"1"}}]},"fl":"adjective","def":[{"sseq":[[["bs",{"sense":{"dt":[["text","{bc}capable
        of being {a_link|reversed} or of {a_link|reversing}: such as"]]}}],["sense",{"sn":"a","dt":[["text","{bc}capable
        of going through a series of actions (such as changes) either backward or
        forward "],["vis",[{"t":"a {wi}reversible{\/wi} chemical reaction"}]]]}],["sense",{"sn":"b","dt":[["text","{bc}having
        two finished usable sides "],["vis",[{"t":"{wi}reversible{\/wi} fabric"}]]]}],["sense",{"sn":"c","dt":[["text","{bc}wearable
        with either side out "],["vis",[{"t":"a {wi}reversible{\/wi} coat"}]]]}]]]}],"uros":[{"ure":"re*vers*ibil*i*ty","prs":[{"mw":"ri-\u02ccv\u0259r-s\u0259-\u02c8bi-l\u0259-t\u0113","sound":{"audio":"revers06","ref":"c","stat":"1"}}],"fl":"noun"},{"ure":"re*vers*ibly","prs":[{"mw":"ri-\u02c8v\u0259r-s\u0259-bl\u0113","sound":{"audio":"revers07","ref":"c","stat":"1"}}],"fl":"adverb"}],"date":"1648","shortdef":["capable
        of being reversed or of reversing: such as","capable of going through a series
        of actions (such as changes) either backward or forward","having two finished
        usable sides"]},{"meta":{"id":"reversible:2","uuid":"a9e27ccb-bc33-47a6-9275-7040795e4429","sort":"182885000","src":"collegiate","section":"alpha","stems":["reversible","reversibles"],"offensive":false},"hom":2,"hwi":{"hw":"reversible"},"fl":"noun","def":[{"sseq":[[["sense",{"dt":[["text","{bc}a
        reversible cloth or article of clothing"]]}]]]}],"date":"1863","shortdef":["a
        reversible cloth or article of clothing"]}]'
  recorded_at: Tue, 21 Jun 2022 23:24:55 GMT
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/thesaurus/json/yearn?key=<COLLEGIATE_THESAURUS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"yearn","uuid":"7be6f059-d47f-425c-9499-6055839adfd6","src":"CTcompile","section":"alpha","stems"[...]
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/collegiate/json/yearn?key=<COLLEGIATE_DICTIONARY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"yearn","uuid":"68e41b9e-376b-4c61-93f7-239c747f1c4f","sort":"250112000","src":"collegiate","section":"alpha","stems":["yearn","yearned","yearner","yearners","yearning","yearningly","yearns"],"offensive":false},"hwi":{"hw":"yearn","prs":[{"mw":"\u02c8y\u0259rn","sound":{"audio":"yearn001","ref":"c","stat":"1"}}]},"fl":"verb","ins":[{"if":"yearned"},{"if":"yearn*ing"},{"if":"yearns"}],"def":[{"vd":"intransitive
        verb","sseq":[[["sense",{"sn":"1","dt":[["text","{bc}to long persistently,
        wistfully, or sadly "],["vis",[{"t":"{wi}yearns{\/wi} to make a difference"}]]]}]],[["sense",{"sn":"2","dt":[["text","{bc}to
        feel tenderness or compassion"]]}]]]}],"uros":[{"ure":"yearn*er","fl":"noun"},{"ure":"yearn*ing*ly","prs":[{"mw":"\u02c8y\u0259r-ni\u014b-l\u0113","sound":{"audio":"yearni01","ref":"c","stat":"1"}}],"fl":"adverb"}],"syns":[{"pl":"synonyms","pt":[["text","{sc}long{\/sc}
        {sc}yearn{\/sc} {sc}hanker{\/sc} {sc}pine{\/sc} {sc}hunger{\/sc} {sc}thirst{\/sc}
        mean to have a strong desire for something. {sc}long{\/sc} implies a wishing
        with one\u0027s whole heart and often a striving to attain. "],["vis",[{"t":"{it}longed{\/it}
        for some rest"}]],["text"," {sc}yearn{\/sc} suggests an eager, restless, or
        painful longing. "],["vis",[{"t":"{it}yearned{\/it} for a stage career"}]],["text","
        {sc}hanker{\/sc} suggests the uneasy promptings of unsatisfied appetite or
        desire. "],["vis",[{"t":"always {it}hankering{\/it} for money"}]],["text","
        {sc}pine{\/sc} implies a languishing or a fruitless longing for what is impossible.
        "],["vis",[{"t":"{it}pined{\/it} for a lost love"}]],["text"," {sc}hunger{\/sc}
        and {sc}thirst{\/sc} imply an insistent or impatient craving or a compelling
        need. "],["vis",[{"t":"{it}hungered{\/it} for a business of his own"},{"t":"{it}thirsted{\/it}
        for power"}]]]}],"et":[["text","Middle English {it}yernen{\/it}, from Old
        English {it}giernan{\/it}; akin to Old High German {it}ger\u014dn{\/it} to
        desire, Latin {it}hortari{\/it} to urge, encourage, Greek {it}chairein{\/it}
        to rejoice"]],"date":"before 12th century{ds||1||}","shortdef":["to long persistently,
        wistfully, or sadly","to feel tenderness or compassion"]}]'
  recorded_at: Tue, 21 Jun 2022 23:24:55 GMT
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/thesaurus/json/acre?key=<COLLEGIATE_THESAURUS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"God\u0027s acre","uuid":"3e82fe2b-ec9f-48b8-95be-2eecfdb25143","src":"coll_thes","section":"alpha","target":{"tuuid":"00150aed-0d30-4d68-9896-e293f09b4347","tsrc":"collegiate"},"stems":["god\u0027s
        acre","gods acre","god\u0027s acres"],"syns":[["boneyard","cemetery","graveyard","memorial
        park","necropolis","potter\u0027s field"]],"ants":[],"offensive":false},"hwi":{"hw":"God\u0027s
        acre"},"fl":"noun","def":[{"sseq":[[["sense",{"dt":[["text","a piece of land
        used for burying the dead "],["vis",[{"t":"was laid in rest in {it}God\u0027s
        acre{\/it}, with a comforting view of the river he loved so much"}]]],"syn_list":[[{"wd":"boneyard"},{"wd":"cemetery"},{"wd":"graveyard"},{"wd":"memorial
        park"},{"wd":"necropolis"},{"wd":"potter\u0027s field"}]],"rel_list":[[{"wd":"catacombs"},{"wd":"churchyard"}],[{"wd":"crypt"},{"wd":"grave"},{"wd":"mausoleum"},{"wd":"sepulchre","wvrs":[{"wvl":"or","wva":"sepulcher"}]},{"wd":"sepulture"},{"wd":"tomb"},{"wd":"vault"}]]}]]]}],"shortdef":["a
        piece of land used for burying the dead"]}]'
  recorded_at: Tue, 21 Jun 2022 23:24:55 GMT
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/collegiate/json/acre?key=<COLLEGIATE_DICTIONARY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"acre","uuid":"b939112c-53ca-4856-92d9-573f4d7e423d","sort":"010627000","src":"collegiate","section":"alpha","stems":["acre","acres"],"offensive":false},"hwi":{"hw":"acre","prs":[{"mw":"\u02c8\u0101-k\u0259r","sound":{"audio":"acre0001","ref":"c","stat":"1"}}]},"fl":"noun","def":[{"sseq":[[["sense",{"sn":"1
        a","sls":["archaic"],"dt":[["text","{bc}a field especially of arable land
        or pastureland"]]}],["sense",{"sn":"b","ins":[{"if":"acres","spl":"plural"}],"dt":[["text","{bc}{sx|lands||},
        {sx|estate||}"]]}]],[["sense",{"sn":"2","dt":[["text","{bc}any of various
        units of area"]],"sdsense":{"sd":"specifically","dt":[["text","{bc}a unit
        in the U.S. and England equal to 43,560 square feet (4047 square meters) {dx}see
        {dxt|Weights and Measures Table|weight|table}{\/dx}"]]}}]],[["sense",{"sn":"3","dt":[["text","{bc}a
        broad expanse or great quantity "],["vis",[{"t":"{wi}acres{\/wi} of free publicity"}]]]}]]]}],"et":[["text","Middle
        English {it}aker, acre,{\/it} going back to Old English {it}\u00e6cer,{\/it}
        going back to Germanic {it}*akraz{\/it} (when[...]
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/thesaurus/json/contrast?key=<COLLEGIATE_THESAURUS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"contrast","uuid":"9abd2431-2662-4efd-b8d3-b8e78dbfc864","src":"coll_thes","section":"alpha","[...]
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/collegiate/json/contrast?key=<COLLEGIATE_DICTIONARY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"contrast:1","uuid":"449ca70a-5dd0-43a8-aea6-762612d36ada","sort":"035574100","src":"collegi[...]
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/thesaurus/json/superior?key=<COLLEGIATE_THESAURUS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"superior","uuid":"04164052-7c60-4391-9d30-f0d8c672e1f6","src":"coll_thes","section":"alpha","[...]
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/collegiate/json/superior?key=<COLLEGIATE_DICTIONARY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"superior:1","uuid":"926b97ba-d82b-4d41-a0fb-d2b3d471371a","sort":"194958300","src":"collegi[...]
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/thesaurus/json/pardoned?key=<COLLEGIATE_THESAURUS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"pardoned","uuid":"2ac7ae9c-5b1c-4f5a-9ff5-89ed65cd08ce","src":"coll_thes","section":"alpha","[...]
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/collegiate/json/pardoned?key=<COLLEGIATE_DICTIONARY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"pardon:2","uuid":"7e15693b-2866-457f-a3bb-d200dd996e5c","sort":"160068700","src":"collegiat[...]
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/thesaurus/json/salmon?key=<COLLEGIATE_THESAURUS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '["salon","saloon","saloons","daemon","daimon","gammon","sallow","salons","salvo","salvor","salvos","sermon","summon","psalmody","salesman","salesmen","almoner","calming","salamis","salient"]'
  recorded_at: Tue, 21 Jun 2022 23:24:56 GMT
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/collegiate/json/salmon?key=<COLLEGIATE_DICTIONARY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"salmon","uuid":"cb7ebb03-74af-4bd2-8191-5d88cee9dcbf","sort":"190315000","src":"collegiate","section":"alpha","stems":["Atlantic
        salmon","salmon","salmons"],"offensive":false},"hwi":{"hw":"salm*on","prs":[{"mw":"\u02c8sa-m\u0259n","sound":{"audio":"salmon01","ref":"c","stat":"1"}}]},"fl":"noun","ins":[{"il":"plural","if":"salmon"},{"il":"also","if":"salm*ons"}],"def":[{"sseq":[[["sense",{"sn":"1
        a","dt":[["text","{bc}a large anadromous {a_link|salmonid} fish ({it}Salmo
        salar{\/it}) of the North Atlantic noted as a game and food fish "],["ca",{"intro":"called
        also","cats":[{"cat":"Atlantic salmon"}]}]]}],["sense",{"sn":"b","dt":[["text","{bc}any
        of various anadromous salmonid fishes other than the salmon"]],"sdsense":{"sd":"especially","dt":[["text","{bc}{sx|pacific
        salmon||}"]]}}],["sense",{"sn":"c","dt":[["text","{bc}a fish (such as a barramundi)
        resembling a salmon"]]}]],[["sense",{"sn":"2","dt":[["text","{bc}the variable
        color of salmon\u0027s flesh averaging a strong yellowish pink"]]}]]]}],"et":[["text","Middle
        English {it}sa[...]
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/thesaurus/json/fungi?key=<COLLEGIATE_THESAURUS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '["fuggy","fungible","funny","bung","funned","bungs","funner","dung","funk","dungs","funks","dungy","funky","flung","funs","fudge","funnies","fun","fund","funds"]'
  recorded_at: Tue, 21 Jun 2022 23:24:56 GMT
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/collegiate/json/fungi?key=<COLLEGIATE_DICTIONARY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"fungi","uuid":"fb106d74-bb56-4096-a6ff-104c078bbe5f","sort":"063686500","src":"collegiate","section":"alpha","stems":["fungi"],"offensive":false},"hwi":{"hw":"fungi"},"cxs":[{"cxtis":[{"cxl":"plural
        of","cxt":"fungus"}]}],"shortdef":[]},{"meta":{"id":"fungi-","uuid":"0bb785c2-096f-41f2-805d-a24aeb7d0a4a","sort":"063687000","src":"collegiate","section":"alpha","stems":["fungi-"],"offensive":false},"hwi":{"hw":"fungi-"},"fl":"combining
        form","def":[{"sseq":[[["sense",{"dt":[["text","{bc}fungus "],["vis",[{"t":"{it}fungi{\/it}form"}]]]}]]]}],"et":[["text","Latin
        {it}fungus{\/it}"]],"shortdef":["fungus"]},{"meta":{"id":"fungus","uuid":"f81d4703-b543-47ed-a7f2-764386d8af82","sort":"063698000","src":"collegiate","section":"alpha","stems":["fungi","fungus","funguses"],"offensive":false},"hwi":{"hw":"fun*gus","prs":[{"mw":"\u02c8f\u0259\u014b-g\u0259s","sound":{"audio":"fungou01","ref":"c","stat":"1"}}]},"fl":"noun","ins":[{"il":"plural","if":"fun*gi","prs":[{"mw":"\u02c8f\u0259n-\u02ccj\u012b","sound":{"audio":"fungus03","ref":"c","stat":"1"}},{"mw":"\u02c8f\u0259\u014b-\u02ccg\u012b","sound":{"audio":"fungus02","ref":"c","stat":"1"}}]},{"il":"also","if":"fun*gus*es","prs":[{"mw":"\u02c8f\u0259\u014b-g\u0259-s\u0259z","sound":{"audio":"fungus04","ref":"c","stat":"1"}}]}],"lbs":["often
        attributive"],"def":[{"sseq":[[["sense",{"dt":[["text","{bc}any of a kingdom
        (Fungi) of saprophytic and parasitic spore-producing eukaryotic typically
        filamentous organisms formerly classified as plants that lack chlorophyll
        and include molds, rusts, mildews, smuts, mushrooms, and yeasts"]]}]]]}],"et":[["text","Latin"]],"date":"1527","shortdef":["any
        of a kingdom (Fungi) of saprophytic and parasitic spore-producing eukaryotic
        typically fila[...]
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/thesaurus/json/ferris_wheel?key=<COLLEGIATE_THESAURUS_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '["big wheel","ferried","ferries","pinwheel"]'
  recorded_at: Tue, 21 Jun 2022 23:24:57 GMT
- request:
    method: get
    uri: https://www.dictionaryapi.com/api/v3/references/collegiate/json/ferris_wheel?key=<COLLEGIATE_DICTIONARY_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"meta":{"id":"Ferris wheel","uuid":"6004760b-44ca-4eda-849a-3865d3e1fb2a","sort":"060884000","src":"collegiate","section":"alpha","stems":["Ferris
        wheel","Ferris wheels","ferris wheels"],"offensive":false},"hwi":{"hw":"Fer*ris
        wheel","prs":[{"mw":"\u02c8fer-\u0259s-","sound":{"audio":"ferris01","ref":"c","stat":"1"}},{"mw":"\u02c8fe-r\u0259s-"}]},"fl":"noun","def":[{"sseq":[[["sense",{"dt":[["text","{bc}an
        amusement device consisting of a large upright power-driven wheel carrying
        seats that remain horizontal around its rim"]]}]]]}],"et":[["text","G. W.
        G. {it}Ferris{\/it} \u20201896 American engineer"]],"date":"1892","shortdef":["an
        amusement device consisting of a large upright power-driven wheel carrying
        seats that remain horizontal around its rim"]}]'
  recorded_at: Tue, 21 Jun 2022 23:24:57 GMT
recorded_with: VCR 6.1.0
